@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
body {
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    padding-block: 80vh;
}

section {
    height: 80vh;
    padding: 0 12rem;
    display: grid;
    place-content: center;
}

.fade-text {
    font-size: 4rem;
    margin: 0;
}

.letter {
    display: inline-block;
}
